.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 52px;
  padding-bottom: 31px;
}
header .logo {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -0.13px;
  color: var(--color-text-light);
}
.gradient-text {
  background: linear-gradient(
    90deg,
    var(--color-primary) 0%,
    var(--color-secondary) 50%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header nav ul {
  display: flex;
  gap: 30px;
}
header ul a {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.1px;
  text-align: center;
}

.header-bottom {
  position: relative;
}
.header-bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1582px;
  margin: 0 auto;
}
.header-bottom::before {
  content: "";
  position: absolute;
  top: 48%;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    var(--color-secondary),
    var(--color-primary)
  );
  z-index: 0;
}

.header-bottom img {
  position: relative;
  z-index: 1;
}

/* Base Button */
.button {
  display: inline-block;
  padding: 0.781rem 1.313rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-align: center;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: -0.5px;
}

/* Primary Button */
.button-primary {
  background: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-secondary)
  );
  color: var(--color-text-light);
}

.button-primary:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

.button-primary:active {
  transform: translateY(0);
}

/* Secondary Button */
.button-secondary {
  background: #fff;
  color: #e03609;
  border: 2px solid #e03609;
}

.button-secondary:hover {
  background: #e03609;
  color: #fff;
}

/* Ghost Button */
.button-ghost {
  background: transparent;
  color: #222;
  border: none;
}

.button-ghost:hover {
  color: #e03609;
}
